certifi==2023.11.17
charset-normalizer==3.3.2
docutils==0.20.1
ffpyplayer==4.5.1
idna==3.6
Kivy==2.2.1
kivy-deps.angle==0.3.3
kivy-deps.glew==0.3.1
kivy-deps.gstreamer==0.3.3
kivy-deps.sdl2==0.6.0
Kivy-Garden==0.1.5
Nuitka==1.9.1
olefile==0.46
ordered-set==4.1.0
Pillow==10.1.0
Pygments==2.17.2
pypiwin32==223
pywin32==306
requests==2.31.0
urllib3==2.1.0
zstandard==0.22.0